
@include tablet{

    .contenedor-anuncios{
         @include grid(3, 2rem);   
    }

}

.anuncios{
    background-color: lighten($gris, 5);
    border: 1px solid lighten($grisOscuro, 5);

    .contenido-anuncio{
        padding: 2rem;
    }

    h3{
        font-weight: $bold;
    }

    p{
        text-align: justify;
    }

    h3, p{
        margin: 0;
    }

    .precio{
        color: $verde;
        font-weight: $bold;
        font-size: 3rem;
        text-align: center;
    }
}

.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    
    li{
        flex: 1;
        display: flex;
        justify-content: space-around;

        .icono-inferior{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img{
            flex: 0 0 5rem;
            // margin-right: 1rem;
        }
        p{
            font-weight: $black;
        }

    }
}














